body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dcdad7;
}

header {
    text-align: center;
}

h1 {
    margin: 0 0 25px 0;
    color: #fff;
    background-color: #C3A93F;
    padding: 25px;
    border-radius: 25px;
    text-align: center;
    font-size: 48px;
}

h2 {
    font-size: 36px;
}

nav {
    background-color: #374d5c;
    padding: 10px;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 15px;
}

main {
    color: #fff;
    background-color: #374d5c;
    border-radius: 25px;
    padding: 15px;

    div.conteneur {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div.reservations,
    div.statistiques {
        margin: 0 auto;
    }
}

.une-reservation {
    display: flex;
}

a,
input.modifier,
input.ajouter {
    border: none;
    padding: 10px;
    border-radius: 15px;
    text-decoration: none;
    color: black;
    font-size: larger;
    box-shadow: 5px 5px #0000004e;
}

input,
select {
    font-size: 16px;
    padding: 2px;
    margin-bottom: 5px;
}

form p {
    font-weight: bold;
}

a,
input {
    &.ajouter {
        background-color: #acf046;
    }

    &.ajout {
        background-color: #acf046;
        height: 20px;
    }

    &.supprimer {
        background-color: #d43b3b;
        margin-left: 20px;
    }

    &.modifier {
        background-color: #F5CC00;
        margin-left: auto;
    }

    &.changement_page {
        background-color: #F5CC00;
    }

    &.deconnexion {
        background-color: #d43b3b;
        margin-left: auto;
    }
}

.un_item {
    font-size: large;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-bottom: none;
    padding: 10px;
}

.dernier_item {
    border-bottom: 1px solid #000000;
}

.tete_liste {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bienvenu {
    text-align: center;
    font-size: 38px;
    font-weight: bold;
}

p.item_liste_repas {
    margin: 0 8px;
}

p.partie_liste_repas {
    margin-left: 8px;
}

.action_reussie {
    color: #2bff00;
}

@media (max-width: 992px) {
    header {
        max-width: 962px;
    }

    nav {
        background-color: #374d5c;
        padding: 10px;
        border-radius: 25px;
        display: grid;
        justify-content: center;
        gap: 15px;
        margin-bottom: 15px;
    }
    
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 24px;
    }


    a,
    input {
        font-size: 16px;

        &.ajout {
            height: 20px;
            margin-bottom: 8px;
        }

        &.supprimer {
            margin-left: 20px;
            margin: 8px auto;
        }

        &.modifier {
            margin: 8px auto;
        }
    }

    .un_item {
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }

    .tete_liste {
        flex-direction: column;
    }
}


@media (max-width: 360px) {
    header {
        max-width: 330px;
    }

    main {
        max-width: 330px;
    }

    a,
    input {
        font-size: 16px;

        &.ajout {
            height: 20px;
            margin-bottom: 8px;
        }

        &.supprimer {
            margin-left: 20px;
            margin: 8px auto;
        }

        &.modifier {
            margin: 8px auto;
        }
    }
}
    