/*[ COMPOSANT MONTAGE-IMG ]*/
/* ------------------------------------------------------------ */

.montage--img{
    position: absolute;
    z-index: 10;
    top: 14rem;
    display: block;
    max-width:280px;
    transition: .200s;
    filter: drop-shadow(3px 8px 6px rgba(0, 0, 0, 0.6));

    @media (min-width: 768px){
        z-index: 6;
        max-width:30rem;
        top: 9rem;
    }

    @media (min-width: 980px){
        max-width:680px;
        top: inherit;
        bottom: 7.5rem;
        right: 36px;
    }

    @media (min-width: 1200px){
        z-index: 10;
        max-width:52.5rem;
        right: 12.5rem;
        bottom:7.5rem;
    }
}