/*[ COMPOSANT SECTION-ENTREES ]*/
/* ------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

/* En-tête des entrées */
.header-entrees {
    background: url('/assets/images/jpg/EntreeTopView.jpg') center/cover no-repeat;
    background-color: #374d5c;
    padding: 1rem;
    text-align: center;
    color: white;
}

.t-entrees {
    margin: 0;
    font-size: 4.5rem;
}


