/*[ COMPOSANT SECTION-IMG ]*/
/* ------------------------------------------------------------ */

.separator-section {
    width: 100%;
    margin-top: 50px; 
}

.separator-image {
    width: 100%;
    height: 400px;
    object-fit: cover; 
    display: block; 
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
    margin: 0 auto;
    align-items: start;
    gap: 20px;
}