/*[ COMPOSANT SECTION-MENU-HAMBURGER ]*/
/* ------------------------------------------------------------ */

/* Section du menu hamburger fixé en haut de la page avec un fond de couleur verte et une ombre portée */
.menu-ham {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #5a4e28; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

/* Conteneur du menu hamburger */
.header-ham {
    display: flex;
    align-items: center;
}

/* Bouton du menu hamburger */
.menu-toggle-ham {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 30px;
    cursor: pointer;
}

/* Positionne le logo du menu au centre horizontalement de l'écran */
.logo-menu-ham {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* Style des barres du menu hamburger : large, jaune et avec des bords arrondis */
.bar-ham {
    width: 100%;
    height: 5px;
    background: #FFD700;
    border-radius: 5px;
}

/* Conteneur pour le titre du header avec alignement centré et espacement entre les éléments */
.header-quatre-titre {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
}

/* Conteneur pour le titre du header avec alignement centré et espacement entre les éléments */
.header-quatre-titre h1 {
    padding: 1rem;
    font-size: 1.6rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border-bottom: 2px solid rgba(255, 215, 0, 0.4);
}

/* Style du titre h1 avec padding, couleur blanche et bordure inférieure dorée */
.header-quatre-titre h1:hover {
    background: #FFD700;
    color: #5A2D0C;
}

/* Bouton de réservation */
.btn-reservation {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #FFD700;
    padding: 0.7rem 2rem;
    border-radius: 50px;
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #5A2D0C;
    cursor: pointer;
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}
