/*[ COMPOSANT SECTION-DESSERT ]*/
/* ------------------------------------------------------------ */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
}

/* En-tête des plats principaux */
.Header-dessert {
    background: url('/assets/images/jpg/DessertTopView.jpg') center/cover no-repeat;
    background-color: #374d5c;
    padding: 1rem;
    text-align: center;
    color: white;
}

.t-desserts {
    position: absolute;
    top: 400px;
    left: 800px;
    margin: 0;
    font-size: 4.5rem;
    color: #dcdad7;
}

/* Mise en page générale */
.Main-dessert {
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;
    background: linear-gradient(to bottom, #f3f3f3, #e6e6e6);
}

/* Conteneur principal */
.section-dessert {
    width: 90%;
    max-width: 1200px;
}

/* Titre principal */
.section-title-dessert {
    text-align: left;
    font-size: 1rem;
    font-weight: bold;
    color: #17334A;
    padding-top: 25px;
    margin-left: 80px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

/* Grille des desserts */
.section-dessert {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-items: center;
}

footer {
    text-align: center;
    padding: 2rem 0;
    background: #17334A;
    color: white;
    font-size: 1rem;
}
