/*[ COMPOSANT SECTION-CHEF ]*/
/* ------------------------------------------------------------ */

.Header-CaveAVin {
    background: url('/assets/images/jpg/VineTopView.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #374d5c;
    position: relative;
    filter: brightness(0.7);
    border-bottom: 2px solid #C3A93F;
}

.t-vin {
    margin: 0;
    font-size: 15.5rem;
    color: white;
}

.main-vins {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(to bottom, #5a4e28, #2e2e2e);
}

.vin-section {
    background-color: #222222;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.vin-titre {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: #dddddd;
}

.vin-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
}

.vin-nom {
    font-size: 1.1rem;
    color: #dddddd;
    text-align: left;
}

.vin-prix {
    font-size: 1.1rem;
    font-weight: 500;
    color: #C3A93F;
    text-align: right;
}


