/*[ COMPOSANT SECTION-ENTREES ]*/
/* ------------------------------------------------------------ */

/* En-tête des entrées */
.header-entrees {
    background: url('/assets/images/jpg/EntreeTopView.jpg') center/cover no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    background-color: #374d5c;
    position: relative;
    filter: brightness(0.7);
    border-bottom: 2px solid #C3A93F;
}

.t-entrees {
    margin: 0;
    font-size: 4.5rem;
    color: white;
}

/* Mise en page générale */
.Main-LesEntrees {
    display: flex;
    justify-content: center;
    padding: 4rem 1rem;
    background: linear-gradient(to bottom, #5a4e28, #374d5c);
}

/* Conteneur principal */
.section-DesEntrees {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    justify-items: center;

    margin: auto;
    width: 90%;
    max-width: 1200px;

    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    border: 2px solid #C3A93F;
}

h2.section-title-dessert{
    color: white;
}


