/*[ COMPOSANT SECTION-PAGEMENU ]*/
/* ------------------------------------------------------------ */

.page-menu-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.page-menu-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
}

.voir-btn {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.voir-btn:hover {
    background-color: #0056b3;
}
