/*[ COMPOSANT MONTAGE-TEXT ]*/
/* ------------------------------------------------------------ */

header {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.header-container {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 2;
    left: auto;
}

.menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.menu-toggle .bar {
    width: 100%;
    height: 5px;
    background-color: black; /* Ajuste la couleur si besoin */
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
