/*[ TYPOGRAPHIES ]*/
/* ------------------------------------------------------------ */
@font-face {
    font-family: 'Sketchtica';
    src: url('../../assets/font/Sketchtica.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Georgian:wght@300;400;700&display=swap');