/*[ VARIABLES DU PROJET ]*/
/* ------------------------------------------------------------ */
:root{
    /*[ COULEURS ]*/
    --blanc:#fff;
    --noir : #000;
    --darkgray: #222;
    --orange: coral;
    --bleu: #00e1ff;
    --or: #d8ce00;
}